<% layout('layouts/boilerplate') %>

<div class="card mb-3" style="width: 100%">
    <img src="<%= camp.image %>" class="card-img-top" alt="..." />
    <div class="card-body">
        <h5 class="card-title"><%= camp.title %></h5>
        <p class="card-text">
            description -> <%= camp.description %>
        </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Price : <%= camp.price %></li>
        <li class="list-group-item">at location :<%= camp.location %></li>
    </ul>
    <div class="card-body">
        <a href="/campgrounds/<%= camp._id %>/edit" class="card-link">Edit the camp</a>
        <a href="/campgrounds" class="card-link">All campgrounds</a>
    </div>
</div>


<form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
    <button class="btn btn-danger">Delete</button>
</form>

<footer>
    <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
    </div>
</footer>